{{define "title"}}
{{if .Client}}Update Client{{else}}Create a New Client{{end}}
{{end}}

{{define "main"}}
<h2>{{if .Client}}Update Client{{else}}Create a New Client{{end}}</h2>
<div class="form-container">
    <form action='{{if .Client}}/client/update/{{.Client.ID}}{{else}}/client/create{{end}}' method='POST'>
        <div>
            <label>Name:</label>
            {{with .Form.FieldErrors.name}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type='text' name='name' value="{{.Form.Name}}">
        </div>
        <div>
            <input type='submit' value='{{if .Client}}Update client{{else}}Create client{{end}}'>
            {{if .Client}}
            <a href="/client/view/{{.Client.ID}}" class="btn-cancel">Cancel</a>
            {{end}}
        </div>
    </form>
</div>
{{end}}