{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest Clients</h2>
    {{if .Clients}}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            {{range .Clients}}
                <tr>
                    <td>{{.ID}}</td>
                    <td><a href="client/view/{{.ID}}">{{.Name}}</a></td>
                    <td>{{humanDate .Created}}</td>
                    <td>
                        <a href="/client/update/{{.ID}}">Edit</a>
                        <form method="POST" action="/client/delete/{{.ID}}" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this client?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}